// LAYOUT
dash-max-width = 1200px
creator-width = 280px

// FONTS
base-font = Cabin, sans-serif
chalk-font = "Cabin Sketch", sans-serif

// FONT SIZES
brand-font-size = 55px
l-font-size = 24px
m-font-size = 18px

// COLORS
bg-color = #344B37
primary-color = #4a9e55
blackboard-color = #333
chalk-color = #E6E6E6
faded-chalk-color = #A0A0A0
shaded-color = #666

// SPACINGS
xxs-space = 3px
xs-space = 5px
s-space = 10px
m-space = 20px
l-space = 50px
s-radius = 3px
m-radius = 5px